# Ambiente virtual
.venv/
venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Banco SQLite (caso seja utilizado para testes)
*.db

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Arquivos do Sistema
.DS_Store
Thumbs.db